body {
    font-family: Arial, sans-serif;
    background-color: rgb(243, 235, 235);
    margin: 5;
    padding: 15px;
}

/* Container principal */
.container {
    max-width: 700px;
    background: white;
    padding: 50px;
    margin: auto;
}

.header {
    border-bottom: 2px solid #0cac4f;
}

.header h1 {
    margin: 0.2px;
    color: #0e0d0d;
}

.header p {
    color: #0a0a0a;
}

.section h2 {
    background-color: #a19e9e;
    color: rgb(14, 13, 13);
    padding: 12px;
    font-size: 20px;
    border-radius: 3px;
}

/*Espacamento*/
.section p, .section ul {
    color: #333;
    line-height: 1.45;
}
