body {
    font-family: Arial, sans-serif;
    background-color: #f8f3f3;
    margin: 25;
    padding: 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
    border-bottom: 2px solid #0c0c0c;
}

/* Container principal */
.container {
    max-width: 800px;
    background: white;
    padding: 20px;
    margin: auto;
    box-shadow: 3px 0px 10px rgb(240, 9, 9)
    border-radius 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 25px;
    border-bottom: 10px solid #111111;
}

.header h1 {
    margin: 5px;
    color: #0c0c0c;
}

.header p {
    color: #0a0a0a;
}

/* Seções do currículo */
.section {
    margin-top: 30px;
}

.section h2 {
    background-color: #a19e9e;
    color: rgb(14, 13, 13);
    padding: 10px;
    font-size: 18px;
    border-radius: 3px;
}

/*Espacamento*/
.section p, .section ul {
    color: #333;
    line-height: 1.25;
}
